<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIT_REPO_NAME</key>
	<string>${GIT_REPO_NAME}</string>
	<key>GIT_USERNAME</key>
	<string>$(GIT_USERNAME)</string>
	<key>HTTP_TOKEN</key>
	<string>${HTTP_TOKEN}</string>
	<key>BASE_URL</key>
	<string>${BASE_URL}</string>
</dict>
</plist>
